spring:
  r2dbc:
    #url: ${USER_R2DBC_URL:r2dbc:postgresql://localhost:5435/users}
    url: ${USER_R2DBC_URL:r2dbc:postgresql://chat-postgres:5432/users}
    username: ${POSTGRES_USER:username}
    password: ${POSTGRES_PASSWORD:password}
  liquibase:
    enabled: true
    #url: ${USER_DB_URL:jdbc:postgresql://localhost:5435/users}
    url: ${USER_DB_URL:jdbc:postgresql://chat-postgres:5432/users}
    user: ${POSTGRES_USER:username}
    password: ${POSTGRES_PASSWORD:password}
  security:
    jwt:
      secret: ${SECRET:aGZiYmtiYWllYmNpZWFpZWJsZWNldWNlY2xhZWNhaWJlbGNhZWN3Q0VCV0VXSUM=}
      access: ${ACCESS:1}
      refresh: ${REFRESH:24}
